<div class="container login">
    <h1>{{ 'LOGIN.TITLE' | translate }}</h1>
    <form class="row justify-content-center" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-form-field>
        <input matInput type="email" name="email" ngModel required placeholder="{{ 'LOGIN.EMAIL' | translate }}">
        </mat-form-field>
        <br>
        <mat-form-field>
        <input matInput type="password" name="password" ngModel required placeholder="{{ 'LOGIN.PASSWORD' | translate }}">
        </mat-form-field>
        <br>
        <button class="login-button" mat-raised-button color="primary" type="submit">{{ 'LOGIN.TITLE' | translate }}</button>
    </form>
</div>