.order-delivery {
    .submit {
        .price-card {
            background-color: #263238;
            margin-bottom: 1%;
            margin-left: 1%;
            width: 98%;

            &-title {
                color: #f4f4f4;
            }

            &-subtitle {
                color: #f4f4f4;
            }

            &-price {
                color: #e01e41;
                padding-right: 1%;
            }
        }

        &-button {
            background-color: #263238 !important;
            color: #e01e41 !important;
        }
    }
}