<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container order-delivery">
    <h1>{{ 'ORDER.TITLE' | translate }}</h1>
    <div class="row">
        <mat-form-field class="col" appearance="fill">
            <input matInput placeholder="{{ 'ORDER.SENDER.NAME' | translate }}" formControlName="senderName" required>
        </mat-form-field>
        <mat-form-field class="col" appearance="fill">
            <input matInput type="tel" placeholder="{{ 'ORDER.SENDER.PHONE' | translate }}" formControlName="senderPhoneNumber" required pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <textarea matInput placeholder="{{ 'ORDER.PICKUP.ADRESS' | translate }}" formControlName="pickupAddress" required></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="city-select">
            <mat-label>{{ 'ORDER.PICKUP.CITY' | translate }}</mat-label>
            <mat-select formControlName="pickupCity" required> 
                <mat-option *ngFor="let city of cities$ | async" [value]="city">{{ getCityName(city) }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col" appearance="fill">
            <input matInput placeholder="{{ 'ORDER.RECEIVER.NAME' | translate }}" formControlName="receiverName" required>
        </mat-form-field>
        <mat-form-field class="col" appearance="fill">
            <input matInput type="tel" placeholder="{{ 'ORDER.RECEIVER.PHONE' | translate }}" formControlName="receiverPhoneNumber" required pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <textarea matInput placeholder="{{ 'ORDER.DROPOFF.ADRESS' | translate }}" formControlName="dropoffAddress" required></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="city-select">
            <mat-label>{{ 'ORDER.DROPOFF.CITY' | translate }}</mat-label>
            <mat-select  formControlName="dropoffCity" required> 
                <mat-option *ngFor="let city of cities$ | async" [value]="city">{{ getCityName(city) }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="date row">
        <mat-form-field>
            <input [(ngModel)]="date" matInput [matDatepicker]="picker" [matDatepickerFilter]="datesFilter" placeholder="{{ 'ORDER.DELIVERY.DATE' | translate }}" formControlName="deliveryDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="minDate"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="{{ 'ORDER.DELIVERY.HOUR' | translate }}" formControlName="deliveryHour" required>
                <div *ngIf="times$ | async; let times">
                    <mat-option *ngFor="let time of times[date.getDay()].times" [value]="time">{{ time }}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="submit row">
        <mat-card class="price-card" *ngIf="form.valid">
            <mat-card-header>
                <mat-card-title class="price-card-title">{{ 'ORDER.PRICE.FINAL' | translate }}</mat-card-title>
                <mat-card-subtitle class="price-card-subtitle">{{ 'ORDER.PRICE.FROM' | translate }} {{ form.controls['pickupAddress'].value }} {{ 'ORDER.PRICE.IN' | translate }} {{ getCityName(form.controls['pickupCity'].value) }}</mat-card-subtitle>
                <mat-card-subtitle class="price-card-subtitle">{{ 'ORDER.PRICE.TO' | translate }} {{ form.controls['dropoffAddress'].value }} {{ 'ORDER.PRICE.IN' | translate }} {{ getCityName(form.controls['dropoffCity'].value) }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
                <mat-label class="price-card-price">{{ calculatePrice()| currency:'₪ ':'symbol':'1.1-1' }}</mat-label>
                <mat-label class="price-card-price">VTA : {{ calculateVTA()| currency:'₪ ':'symbol':'1.1-1' }}</mat-label>
                <mat-label class="price-card-price">= {{ calculateAll()| currency:'₪ ':'symbol':'1.1-1' }}</mat-label>
            </mat-card-actions>
        </mat-card>
        <button mat-raised-button type="submit" class="submit-button">{{ 'ORDER.SUBMIT' | translate }}</button>
    </div>
</form>
